body 
{ 
    margin:0; 
    padding:0;
}
.container
{
	background:url(../img/bg1.jpg) no-repeat;
    background-size:cover;
    height:100vh;
}
.navbar
{
    height:100px;
    width:100%;
    background:transparent;
}
.logo 
{
	height:90px;
    width:90px;
    right:20px;
	margin-left:30px;
	margin-top:10px;
	border:2px solid white;
	border-radius:19px;
	float:left;
}
.navbar ul
{
	margin-right:30px;
	float:right;
}
.navbar ul li
{
	list-style-type:none;
	display:inline-block;
	margin:0 8px;
	line-height:80px;
}	
.navbar ul li a
{
	text-decoration:none;
	color:white;
	font-size:20px;
	padding:6px 13px;
	transition:.5s;
	
}
.navbar ul li a.active,.navbar ul li a:hover
{
	background:black;
	border-radius:2px;
}
.container .center
{
	position:absolute;
	transform:translate(-50%,-50%); 
	top:50%; 
	left:50%;
	font-family:"Palatino Linotype", " Book Antiqua", Palatino, serif;
}
.center h1 
{ 
	color:black; 
	font-size:50px;
	font-weight:bold;
	width:900px;
	text-align:center;
}
.center h2
{ 
	color:black ;
	font-size:30px; 
	font-weight:bold;
	width:885px; 
	margin-top:-25px;
	text-align:center;
}

.center .buttons
{
	margin:35px 280px;
}
.buttons button 
{
	height:50px; 
	width:150px; 
	font-size:18px;
	color:white;
	background:transparent;
	border:1px solid wight; 
	outline:none;
	border-radius:15px;
	transition:.5s;
	display: inline-block;
}
.buttons .btn
{
	margin-left:25px;
	display: inline-block;
}	
.buttons button:hover
{
	background:black;
}
.calbutton input[type="button"] {

	text-indent:0px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:9px;
	font-weight:bold;
	font-style:italic;
	height:27px;
	width:91px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
	line-height:10px;
	overflow: hidden;
	margin-left:auto;
	margin-right:0px;
}
.dropbtn {
  background-color: transparent;
  color: white;
  border: none;
  font-size:20px;
  padding:6px 13px;
  transition:.5s;
}

.dropdown {
  position: relative;
  display: inline-block;
  transition:.5s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:transparent ;
  min-width: 120px;
  z-index: 1;
  transition:.5s;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  border:1px solid gray;
  border-radius:19px;
  display: block;
  transition:.5s;
}

.dropdown-content a:hover 
{
	background-color: black;
	transition:.5s;
}

.dropdown:hover .dropdown-content 
{
	display: block;
	transition:.5s;
}

.dropdown:hover .dropbtn 
{
	background-color: black;
	transition:.5s;
}
